#home-slider {
  position: relative;

  .main-slider {
    height: 450px;
    position: relative;
  }

  .slide-text {
    left: 0;
    position: absolute;
    top: 50px;
    width: 450px;
  }

  .slider-team {
    bottom: -30px;
    position: absolute;
    right: 0;
    width: 650px;
  }

  h1 {
    font-weight: 600;
    font-size: 42px;
    margin-bottom: 25px;
    margin-top: 60px;
  }

  .btn-common {
    margin-top: 20px;
  }
}
