/*	PATTERN LIBRARY STYLES
/*----------------------------------------------------*/

body {
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
  color: #333333;
  background: #ffffff;
  overflow-x: hidden;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* BACKGROUND COLORS */

.bg-transparent {
  background-color: transparent !important;
}
.bg-concrete {
  background-color: #95a5a6 !important;
}
.bg-deepocean {
  background-color: #193441 !important;
}
.bg-pomegranate {
  background-color: #c0392b !important;
}
.bg-transparent-hover:hover {
  background-color: transparent !important;
}
.bg-concrete-hover:hover {
  background-color: #95a5a6 !important;
}
.bg-deepocean-hover:hover {
  background-color: #193441 !important;
}
.bg-pomegranate-hover:hover {
  background-color: #c0392b !important;
}
.bg-finn-hover:hover {
  background-color: #723147 !important;
}
.bg-tamarind-hover:hover {
  background-color: #31152b !important;
}

/* BG COVER - MTCH */

.bg-image-cover {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center top;
}

/* COLORS - MTCH added !important */

.concrete {
  color: #95a5a6 !important;
}
.deepocean {
  color: #193441 !important;
}
.pomegranate {
  color: #c0392b !important;
}
.concrete-hover:hover {
  color: #95a5a6 !important;
}
.deepocean-hover:hover {
  color: #193441 !important;
}
.pomegranate-hover:hover {
  color: #c0392b !important;
}
.no-shadow {
  box-shadow: none !important;
  -moz-box-shadow: none !important;
  -webkit-box-shadow: none !important;
  -ms-box-shadow: none !important;
}

/* PADDING, MARGIN & ALIGNMENT */

.pad0 {
  padding-top: 0px !important;
}
.pad5 {
  padding-top: 5px !important;
}
.pad10 {
  padding-top: 10px !important;
}
.pad15 {
  padding-top: 15px !important;
}
.pad20 {
  padding-top: 20px !important;
}
.pad25 {
  padding-top: 25px !important;
}
.pad30 {
  padding-top: 30px !important;
}
.pad45 {
  padding-top: 45px !important;
}
.pad60 {
  padding-top: 60px !important;
}
.pad90 {
  padding-top: 90px !important;
}
.pad-bottom0 {
  padding-bottom: 0px !important;
}
.pad-bottom5 {
  padding-bottom: 5px !important;
}
.pad-bottom10 {
  padding-bottom: 10px !important;
}
.pad-bottom15 {
  padding-bottom: 15px !important;
}
.pad-bottom20 {
  padding-bottom: 20px !important;
}
.pad-bottom25 {
  padding-bottom: 25px !important;
}
.pad-bottom30 {
  padding-bottom: 30px !important;
}
.pad-bottom45 {
  padding-bottom: 45px !important;
}
.pad-bottom60 {
  padding-bottom: 60px !important;
}
.pad-bottom90 {
  padding-bottom: 90px !important;
}
.margin-bottom0 {
  margin-bottom: 0px !important;
}
.margin-bottom5 {
  margin-bottom: 5px !important;
}
.margin-bottom10 {
  margin-bottom: 10px !important;
}
.margin-bottom15 {
  margin-bottom: 15px !important;
}
.margin-bottom20 {
  margin-bottom: 20px !important;
}
.margin-bottom25 {
  margin-bottom: 25px !important;
}
.margin-bottom30 {
  margin-bottom: 30px !important;
}
.margin-bottom45 {
  margin-bottom: 45px !important;
}
.margin-bottom60 {
  margin-bottom: 60px !important;
}
.margin-bottom90 {
  margin-bottom: 90px !important;
}
.margin-top0 {
  margin-top: 0px !important;
}
.margin-top5 {
  margin-top: 5px !important;
}
.margin-top10 {
  margin-top: 10px !important;
}
.margin-top15 {
  margin-top: 15px !important;
}
.margin-top20 {
  margin-top: 20px !important;
}
.margin-top25 {
  margin-top: 25px !important;
}
.margin-top30 {
  margin-top: 30px !important;
}
.margin-top45 {
  margin-top: 45px !important;
}
.margin-top60 {
  margin-top: 60px !important;
}
.margin-top90 {
  margin-top: 90px !important;
}
.min-height-100px {
  min-height: 100px !important;
}
.min-height-200px {
  min-height: 200px !important;
}
.min-height-300px {
  min-height: 300px !important;
}
.min-height-400px {
  min-height: 400px !important;
}
.min-height-500px {
  min-height: 500px !important;
}
.min-height-600px {
  min-height: 600px !important;
}
.min-height-700px {
  min-height: 700px !important;
}
.min-height-800px {
  min-height: 800px !important;
}
@media only screen and (max-width: 767px) {
  .min-height-xs-100px {
    min-height: 100px !important;
  }
  .min-height-xs-200px {
    min-height: 200px !important;
  }
  .min-height-xs-300px {
    min-height: 300px !important;
  }
  .min-height-xs-400px {
    min-height: 400px !important;
  }
  .min-height-xs-500px {
    min-height: 500px !important;
  }
  .min-height-xs-600px {
    min-height: 600px !important;
  }
  .min-height-xs-700px {
    min-height: 700px !important;
  }
  .min-height-xs-800px {
    min-height: 800px !important;
  }
}
.marg-bottom5 {
  margin-bottom: 5px !important;
}
.marg-left5 {
  margin-left: 5px !important;
}
.marg-right5 {
  margin-right: 5px !important;
}
.but_marg {
  margin-left: 3px !important;
}
.v-center {
  display: inline-block;
  vertical-align: middle;
  float: none;
}

/*	PATTERN LIBRARY MEDIA QUERIES
/*----------------------------------------------------*/

/* Small Devices, Tablets */

@media only screen and (min-width: 768px) {
}

/* Medium Devices, Desktops */

@media only screen and (min-width: 992px) {
}

/* Large Devices, Wide Screens */

@media only screen and (min-width: 1200px) {
}
